<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    {% block content %}

        <form action="/login" method="post">
            {{ form.hidden_tag() }}
            {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] %}
                {{ field.label() }}
                {% if field.errors %}
                    {{ field(class="invalid") }}
                    <span class="invalid-feedback">
                        {% for e in field.errors %}
                        {{ e }}
                        {% endfor %}
                    </span>
                {% else %}
                    {{ field() }}
                    <br>
                {% endif %}
            {% endfor %}

            <p>{{ form.remember.label() }} {{ form.remember() }}</p>
            <p>{{ form.submit() }}</p>
            
        </form>
    {% endblock %}
</body>
</html>