<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена</title>
    <style>
        h1{
            text-align: center;
            font-size: 60px;
        }
        h2{
            text-align: center;
            font-size: 40px;
        }
        p{
            text-align: center;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Страница не найдена!</h1>
    <h2>Не волнуйтесь просто перейдите на существующую страницу</h2>
    <p>404</p>
</body>
</html>