<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    <header>
        <h2><a href="{{ url_for('logout') }}">Выйти</a></h2>
        <h1><a href="{{ url_for('add_task') }}">Добавить задачу</a></h1>
        <h3><a href="{{ url_for('archiv') }}">Архив</a></h3>
        <form method="POST">
            {{ delete_form.hidden_tag() }}
            <button type="submit" class="delete_all"
                onclick="return confirm('Вы уверены? Все задачи будут удалены!')">
                Удалить все задачи
            </button>
        </form>
    </header>
    <h3>{{ current_user.name }} вот ваш список дел:</h3>
    {% for task in tasks %}
        {% if not task.is_completed %}
            <div>
                <a href="{{ url_for('task', id=task.id) }}"><p>{{ task.text }}</p></a>
                <small>
                    {{ task.date_for_doing.strftime('%d:%m:%Y %H:%M') }}
                </small>

                <form method="post">
                    {{ form.hidden_tag() }}
                    {{ form.task_id(value=task.id) }}

                    {{ form.complete_task() }}
                    {{ form.delete_task() }}
                </form>
            </div>
        {% endif %}
    {% else %}
        <p class="no_tasks">Задач пока нет</p>
    {% endfor %}
</body>
</html>
